@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #243e63;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

section {
    padding: 0 32px;
}

.container {
    padding: 96px 0;
}

.row__narrow {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.purple {
    color: #6415ff;
}

.section__tag {
    font-size: 16px;
    color: #6415ff;
    letter-spacing: 1.5px;
    font-weight: 700;
    text-transform: uppercase;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    color: rgb(36, 62, 99);
    margin: 16px 0;
    letter-spacing: 0.025em;
    line-height: 1.5;
}

#quality .section__title, #values .section__title {
    line-height: 1.25;
}

.section__para {
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.btn {
    background-color: #6415ff;
    padding: 12px 32px;
    border: none;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(80, 17, 204);
}

/* NAV BAR */

nav {
    display: flex;
    padding-top: 32px;
}

.nav__logo--img {
    width: 40px;
    height: 40px;
}

.nav__logo--title {
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__links {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}

.nav__link {
    font-size: 14px;
    font-weight: 600;
    margin: 0 24px;
    padding-top: 4px;
    letter-spacing: 0.35px;
    border-bottom: 2px solid transparent;
    position: relative;
}

.login {
    margin-left: 48px;
}

.nav__link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease; 
}

.nav__link--primary:hover {
    background-color: rgba(80, 17, 204);
    color: white;
}

/* HEADER */

header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.header__description {
    width: 40%;
}

.header__description--para {
    margin: 32px 0;
    font-size: 16px;
}

.header__email {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 68px;
}

.header__email--input {
    position: absolute;
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.header__email--input:hover {
    border-color: rgba(160, 174, 192);
}

.header__email--btn {
    
    z-index: 2;
    margin:8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__email--btn:hover {
    background-color: rgba(60, 13, 153);
}

.header__customers {
    margin-top: 16px;
    opacity: 0.5;
}

.header__customers--title {
    margin-top: 80px;
    color: #a0aec0;
    font-size: 12px;
    font-weight: 700;
}

.header__img--wrapper {
    width: calc(100% - 40%);
}

.header__img {
    width: 100%;
}

/* FEATURES */

#features {
    position: relative;
    padding: 0 32px;
}

#features .row__narrow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features .section__para {
    text-align: center;
    max-width: 576px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.feature__row {
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
    margin: 0;
}

.feature__img--wrapper {
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img {
    width: 24px;
    height: 24px;
}

.feature__text {
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para {
    margin-top: 16px;
    font-size: 16px;
    max-width: calc(634px / 3);
    color: rgb(124, 139, 161);
    line-height: 2;
    font-weight: 500;
}

/* Quality Work */

#quality .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.quality__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 64px;
    max-width: 576px;
}

.quality__img--wrapper {
    width: 50%;
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    margin: 0 56px;
    z-index: 2;
    display: flex;
}

#quality .btn {
    margin-top: 32px;
    width: 160px;
}

/* STEPS */

#steps .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.steps__img--wrapper {
    width: 50%;
}

.steps__description {
    width: 50%;
    padding: 32px 0;
    padding-left: 64px;
    display: flex;
    flex-direction: column;
}

.step__list {
    display: flex;
}

.step {
    display: flex;
    align-items: flex-start;
    margin-top: 32px;
}

.step__number {
    color: #cbd5e0;
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
}

.step__description {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title {
    font-weight: 600;
    font-size: 20px;
    color: #243e63;
    line-height: 1;
}

.step__para {
    font-size: 14px;
    color: #718096;
    margin-top: 12px;
    font-weight: 500;
    line-height: 2;
}

/* VALUES */

#values .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.values__description, .values__img {
    width: 50%;
}

.values__description {
    padding: 32px 64px 32px 0;
}

.values__list {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    max-width: none;
    flex-direction: row;
}

.value {
    margin-top: 32px;
    margin-right: 32px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.value__title {
    display: flex;
    align-items: center;
}

.value__img--wrapper {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
}

.value:nth-child(1) .value__img--wrapper {
    background-color: #9ae6b4;
}

.value:nth-child(2) .value__img--wrapper {
    background-color: #feb2b2;
}

.value__img {
    width: 20px;
    height: 20px;
}

.value__name {
    margin-left: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #243e63;
}

.value__para {
    margin-top: 16px;
    line-height: 1.625;
    color: #718096;
}

#values .btn {
    margin-top: 48px;
}

/* PRICING */

#pricing .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

#pricing .section__para {
    max-width: 576px;
    text-align: center;
}

.plans {
    display: flex;
    flex-wrap: wrap;
}

.plan {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 4rem;
    max-width: 24rem;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 2rem;
    padding-top: 0.5rem;
    text-align: center;
    color: rgb(26, 32, 44);

}

.plan:nth-child(1) .plan__stripe, 
.plan:nth-child(1) .plan__button {
    color: #f7fafc;
    background: linear-gradient (115deg, rgb(56, 178, 172), rgb(129, 230, 217) 100%);
}

.plan__stripe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 2px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.plan__top {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    line-height: 1.625;
}

.plan__name {
    font-size: 20px;
}

.plan__price {
    font-size: 48px;
    margin: 4px 0;
}

.plan__duration {
    font-size: 16px;
    letter-spacing: 0.1em;
}

.plan:nth-child(odd) .plan__duration {
    color: #a0aec0;
}

.plan:nth-child(odd) .plan__name,
.plan:nth-child(odd) .plan__price,
.plan:nth-child(odd) .plan__target {
    color: #1a202c;
}

.plan:nth-child(2) .plan__name,
.plan:nth-child(2) .plan__price,
.plan:nth-child(2) .plan__target,
.plan:nth-child(2) .plan__duration,
.plan:nth-child(2) .plan__feature {
    color: #f7fafc;
}

.plan__name,
.plan__price,
.plan__duration {
    font-weight: bold;
    line-height: 1.625;
}

.plan__button {
    border-radius: 0.25rem;
    background-color: rgb(100, 21, 255);
    padding: 0.75rem 2rem;
    font-weight: 700;
    color: rgb(247, 250, 252);
    transition: all 300ms ease;
    width: 100%;
    border-radius: 9999px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.875rem;
    letter-spacing: 0.05rem;
}